@font-face {
  font-family: AbelRegular;
  src: url(../fonts/Abel-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: AbelRegular;
}

body {
  background-color: wheat;
  transition: background-color 1000ms linear;
}

.custom-bg {
  background-color: #7952b3;
}
.btn-group {
  outline:none;
}
.dark-mode {
  background-color: #0d1117;
  color: #f0f6fc;
  transition: background-color 1000ms linear;
}

.dark-mode .navbar {
  background-color: #222c3b;
  color: #f0f6fc;
  transition: background-color 1000ms linear;
}

.dark-mode .footer {
  background-color: #222c3b;
  color: #f0f6fc;
  transition: background-color 1000ms linear;
}
.copyBtn{
  outline:none;
}
html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
@media screen and (max-width: 700px) {
  .container, footer{
    overflow-x: hidden;
  }
  .heading{
    font-size:2.5rem;
  }
  .copyBtn{
    padding-top:10px;
    display: flex !important;;
    text-align: center;
    align-items: center!important;
    justify-content: center;
    height:80px;
    width:250px;
  }
  .copyButtonText{
    font-size:1.1rem;
  }
  .btn-group{
    display: flex !important;
    align-items: center;
    place-content: center;
    font-size:1.2rem;
    }
    .btn-group-lg>.btn, .btn-lg {
      padding: .5rem 1rem;
      font-size: 1.21rem;
      border-radius: .3rem;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left:5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
