@font-face {
  font-family: AbelRegular;
  src: url(../fonts/Abel-Regular.ttf);
}

h1 {
  font-family: AbelRegular;
}

body {
  background-color: white;
}

.custom-bg {
  background-color: #7952b3;
}
